#contactPage{
    min-height: calc(90vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;   
    margin-top: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.contactTitle{
    font-size: 3rem;
    margin: 1rem 0;
}
.contactDesc{
    font-weight: 200;
    font-size: 1rem;
    max-width: 45rem;
    margin-bottom: 2rem;
}
.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}
.name,.email,.msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.7rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}
.submitBtn{
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    font-size: 1rem;
}

.links{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.link{
    font-size: 2rem;

}
.link:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.link1{
    color: #3b5998;
}
.link2{
    color: #00acee;
}
.link3{
    color: #00ace3;
}
.link4{
    color: #dd394c;
}