#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    padding-top: 2rem;
}

.works-title{
    font-size: 3rem;
    margin:1rem 0;
}

.workDesc{
    font-weight: 200;
    font-size: 1rem;
    max-width: 45rem;
    margin-bottom: 2rem;
}
.worksImgs{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    max-width: 65rem;
    justify-content: center;
    align-items: center;
}
.worksImg{
    object-fit: cover;
    height:  18rem;
    width: 15rem;
    border-radius: 1.2rem;
    margin: 1rem;
}
.workBtn{
    margin: 3rem 0;
    padding: 0.7rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background-color: white;
    font-size: 1rem;
    
}

@media screen and (max-width: 585px) {
    #works{
        padding: 2rem 1rem;
    }
    .worksImg{
        height: 12rem;
        width: 9rem;
        margin: 0.5rem;
        border-radius: 0.7rem;
    }

}