:root{
    --blue: #007bff;
}
#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.bg{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: -1;
    object-fit: cover;
    height: 60vh;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.75rem;
    font-weight: 300;
}
.introName{
    color: var(--blue);
}
.introPara{
    font-size: medium;
    font-weight: 150;
}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}
.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1.5rem;
}

@media screen and (max-width: 840px) {
    .bg{
        right: -10vw;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 5vw;
    }
    .btnImg{
        display: none;
    }

}
@media screen and (max-width: 480px) {
    .bg{
        right: -10vw;
        top: -0.35vw;
        opacity: 0.7;
    } 
    .btnImg{
        display: none;
    }
    .introPara{
        color: #454545;
        font-weight: 300;
    }
}