.footer{
    width: 100vw;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    padding: 1.5rem 0;
    font-size: small;
}
@media screen and (max-width: 585px) {
    .footer{
        height: 2.5rem;
        font-size: small;
    }
}